@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

button {
    outline: none;
    font-family: 'Megrim', cursive;
    font-size: 28px;
    text-align: center;
}

input {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    text-align: center;
    font-size: 28px;
    font-family: 'Megrim', cursive;
}

.parent {
    border: 1px solid #000000;
        width: 500px; 
    height: 500px; 
    margin: 50px auto; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

.button_main {
    width: 150px; 
    height: 82px; 
    border-color: transparent;
    border-radius: 16px;
    background: #f7f7f7;
    box-shadow:  8px 8px 16px #e3e3e3, -8px -8px 16px #ffffff;
    


}

.num_input {
    margin: 0 20px;
    border-color: transparent;
    border-radius: 16px;
    background: #f7f7f7;
    box-shadow: inset 8px 8px 16px #e3e3e3, inset -8px -8px 16px #ffffff;
}

.input_daddy {
    width: fit-content; 
    height: 100px; 
    margin: 50px auto; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

.colors {
    width: fit-content;
    height: 100px   ;
    margin: auto;
    position: absolute;
    left: 50px;
    bottom: 50px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.color_option {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
}
